<div class="main-content">
  <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
    <div class="container px-4">
      <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard']">
        <img src="assets/img/brand/agbis-white-logo.png" />
      </a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
