<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Добро пожаловать!</h1>
                    <small class="text-lead text-light">
                      Если Вы только что зарегистрировались, то проверьте пожалуйста почту, на Ваш адрес было выслано письмо.
                        <br>
                      Необходимо активировать регистрацию по ссылке из этого письма.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content form -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <h4>Войдите с учетными данными</h4>
                        <small>+79000000001 621126</small>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" role="form">
                        <div class="form-group mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                </div>
                                <input type="text" formControlName="phone" class="form-control pl-2"
                                       [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
                                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.phone.errors.required">Обязательное поле</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input type="password" formControlName="password" class="form-control pl-2"
                                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Обязательное поле</div>
                                </div>
                            </div>
                        </div>
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Войти
                        </button>
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="javascript:void(0)" class="text-light"><small>Забыли пароль?</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="javascript:void(0)" class="text-light"><small>Регистрация</small></a>
                </div>
            </div>
        </div>
    </div>
</div>
