/* You can add global styles to this file, and also import other style files */
body {
  min-height: 100vh;
}

.modal-xl{
  width: 94%!important;
  max-width: 94%!important;
  min-width: 94%!important;
}
