<!--Инфо клиента-->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Депозит</h5>
                                    <span class="h2 font-weight-bold mb-0">{{dataUserInfo['deposit']}}</span>
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Долг</h5>
                                    <span class="h2 text-danger font-weight-bold mb-0">{{dataUserInfo['dolg']}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-money-bill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Бонус</h5>
                                    <span class="h2 font-weight-bold mb-0">{{dataUserInfo['bonus']}}</span>
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Скидка</h5>
                                    <span class="h2 text-green font-weight-bold mb-0">{{dataUserInfo['discount']}}
                                        %</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-percent"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Заказы</h5>
                                    <span class="h2 font-weight-bold mb-0">{{dataUserInfo['order_count']}}</span>
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Не оплачено</h5>
                                    <span class="h2 font-weight-bold mb-0">{{dataUserInfo['order_not_count'] || '0'}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-box"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Промо-код</h5>
                                    <span class="h2 font-weight-bold mb-0">{{dataUserInfo['promo_code']}}</span>
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Ваш ID</h5>
                                    <span class="h2 font-weight-bold mb-0">{{dataUserInfo['contr_id']}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Список заказов-->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Список заказов</h3>
                        </div>
                        <div class="col text-right">
                            <a class="btn btn-sm btn-primary disabled" href="javascript:void(0)">посмотреть все</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <ngx-spinner [fullScreen]="false" name="orders"></ngx-spinner>
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Номер</th>
                            <th scope="col">Дата Выдачи</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Скидка</th>
                            <th scope="col">К оплате</th>
                            <th scope="col">Тип</th>
                            <th scope="col">Фото</th>
                            <th scope="col">Склад</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Подтверждение</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of dataUserOrders">
                            <th scope="row">{{item['dor_id']}}</th>
                            <td>{{item['doc_date']}}</td>
                            <td>{{item['doc_num']}}</td>
                            <td>{{item['date_out']}}</td>
                            <td>{{item['kredit']}}</td>
                            <td>{{item['discount']}}</td>
                            <td>{{item['debet']}}</td>
                            <td>{{kind[item['kind_id']]}}</td>
                            <td>{{item['photo_exist']}}</td>
                            <td>{{item['sclad_to']}}</td>
                            <td>{{item['status']}}</td>
                            <td>{{waiting[item['waiting_confirm']]}}</td>
                            <td>
                                <a (click)="getOrderInfo(item['dor_id'], modalContent)" class="btn btn-sm btn-success"
                                   href="javascript:void(0)">подробнее</a>
                            </td>
                        </tr>
                        <tr *ngIf="!dataUserOrders.length > 0">
                            <td align="center" colspan="13">
                                Список заказов пуст
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Модальное окно с подробной инфой о заказе-->
<ng-template #modalContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Подробнее о заказе <b>№ {{idOrder}}</b></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pt-3 pb-0 px-3">
        <div class="table-responsive" *ngFor="let item of dataOrderInfo; let last=last">
            <table class="table align-items-center table-flush table-sm mb-0">
                <tbody *ngFor="let itemChild of item | keyvalue: asIs">
                <tr>
                    <th scope="row">
                        {{itemChild.key}}
                    </th>
                    <td *ngIf="itemChild.key !== 'addons'">
                        <div style="width: 200px; overflow: hidden">
                            {{itemChild.value}}
                        </div>
                    </td>
                </tr>
                <tr *ngIf="itemChild.key === 'addons'">
                    <td colspan="2" class="p-0">
                        <table class="table align-items-center table-flush mb-0">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">descr</th>
                                <th scope="col">value_type</th>
                                <th scope="col">aos_id</th>
                                <th scope="col">aos_value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let itemAddon of itemChild.value">
                                <th scope="row">{{itemAddon['id']}}</th>
                                <td>
                                    <div style="width: 200px; overflow: hidden">
                                        {{itemAddon['descr']}}
                                    </div>
                                </td>
                                <td>{{itemAddon['value_type']}}</td>
                                <td>{{itemAddon['aos_id']}}</td>
                                <td>
                                    <div style="width: 200px; overflow: hidden">
                                        {{itemAddon['aos_value']}}
                                    </div>
                                </td>

                            </tr>
                            <tr *ngIf="!itemChild.value.length > 0">
                                <td align="center" colspan="13">
                                    Список пуст
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr *ngIf="!last">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Закрыть</button>
    </div>
</ng-template>
